
.list-picker {
  background-color: var(--color-white);
  border-radius: 0;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: var(--separation-1);
  top: calc(100% - 53px);

  @media (min-width: var(--width-left-column-mobile)) {
    max-width: var(--width-left-column-mobile);
  }

  @media (min-width: $width-desktop) {
    max-width: var(--width-left-column-desktop);
    border-radius: var(--separation-1);
    margin-top: var(--separation-1);

    .list-picker__buttons {
      border-top-left-radius: var(--separation-1);
      border-top-right-radius: var(--separation-1);
    }
  }

  &__title {
    align-content: flex-end;
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    font: normal normal normal var(--font-size-date-picker)/var(--line-spacing-date-picker) Roboto;
    letter-spacing: 0;
    padding: 18px 4px 17px 28px;
    position: relative;

    @media (min-width: $width-desktop) {
      background: var(--color-brand) 0 0% no-repeat padding-box;
      border-top-left-radius: var(--separation-1);
      border-top-right-radius: var(--separation-1);
      margin-bottom: var(--separation-2);
    }

    &:before {
      content: "";
      display: inline-flex;
      background: var(--icon-list-background);
      filter: $filter-brand;
      width: var(--icon-list-width);
      height: var(--icon-list-height);
      margin-right: 5px;

      @media (min-width: $width-desktop) {
        filter: $filter-white;
      }
    }
  }

  &__label {
    color: var(--color-brand);
    border: none;

    @media (min-width: $width-desktop) {
      color: var(--color-white);
    }
  }

  &__navigation {
    display: flex;
    height: 100%;
  }
}
